@import "../../components/Account/Account.css";
@import "../../components/Banner/Banner.css";
@import "../../components/EditButton/EditButton.css";
@import "../../components/FeatureItem/FeatureItem.css";
@import "../../components/Footer/Footer.css";
@import "../../components/Header/Header.css";
@import "../../pages/Home/Home.css";
@import "../../pages/SignIn/SignIn.css";
@import "../../pages/SignUp/SignUp.css";
@import "../../pages/User/User.css";

html {
   font-family: Avenir, Helvetica, Arial, sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-align: center;
   color: #2c3e50;
}
body {
   margin: 0;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}